<%= form_for(@job_seeker) do |f| %>
  <%= render 'error_messages' %>
  <%= f.label :email %>
  <%= f.email_field :email,class: 'form-control' %>
  <%= f.label :name %>
  <%= f.text_field :name ,class: 'form-control'%>
  <%= f.label :full_name %>
  <%= f.text_field :full_name ,class: 'form-control'%>
  <%= f.label :phone %>
  <%= f.text_field :phone,class: 'form-control' %>
  <%= f.label :password %>
  <%= f.password_field :password ,class: 'form-control'%>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation,class: 'form-control' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>