<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@job_seeker, url: signup_job_seeker_path) do |f| %>
      <%= render 'error_messages' %>
      <%= f.label :email %>
      <%= f.email_field :email,class: 'form-control' %>
      <%= f.label :name %>
      <%= f.text_field :name ,class: 'form-control'%>
      <%= f.label :full_name %>
      <%= f.text_field :full_name ,class: 'form-control'%>
      <%= f.label :phone %>
      <%= f.text_field :phone,class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password ,class: 'form-control'%>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation,class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>