<% provide(:title, @job_seeker.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div class="profile_identity">
        <%= gravatar_for_job_seeker @job_seeker %>
          job seeker
        </div>
        <%= @job_seeker.full_name %>
        <%= @job_seeker.email %>
        <%= @job_seeker.phone %>
      </h1>
    </section>
  </aside>
</div>