<% provide(:title, @recruiter.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div class="profile_identity">
        <%= gravatar_for_recruiter @recruiter %>
          recruiter
        </div>
        <%= @recruiter.name %><br/>
        <%= @recruiter.email %><br/>
        Company id: <%= @recruiter.company_id %>
      </h1>
    </section>
  </aside>
</div>