
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Actions <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Manage Recruiters", recruiters_path %></li>
    <li><%= link_to "Manage Job seekers",   "#" %></li>
    <li><%= link_to "Manage Companies",   "#" %></li>
    <li><%= link_to "Manage Jobs",   "#" %></li>
    <li><%= link_to "Manage Applications",   "#" %></li>
  </ul>
</li>
