<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Actions <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Choose a company", "#" %></li>
    <li><%= link_to "Create a company", "#" %></li>
    <li><%= link_to "Edit company info", "#" %></li>
    <li class="divider"></li>
    <li><%= link_to "Publish a job", "#" %></li>
    <li><%= link_to "View jobs", "#" %></li>
    <li><%= link_to "Edit jobs", "#" %></li>
    <li class="divider"></li>
    <li><%= link_to "View applications", "#" %></li>
  </ul>
</li>